# Ignore the instance folder
/instance/

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/
.venv/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore SQLite database files
*.db
*.sqlite3

# Ignore environment variables file
.env
.env.local

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore pytest cache
.pytest_cache/